@import base

html,body
    overflow-x: hidden
    background-color: var(--bg-m)
    
    
//Nav 
nav.navbar.sticky-top
    position: fixed
    width: 100%
    top: 0

nav 
    a.nav-link
        background-color: #2E282A
        color: white
        border-radius: 20px
    
        &:active, &:hover
            background-color: #57E2E5
            color: #2E282A
            transition: 0.5s
        &:focus
            color: white
    a.navbar-brand
        color: #2E282A

    ul.dropdown-menu.show
        background-color: #57E2E5

// Header
header.heading
    background-image: url('../img/bg.svg')
    background-repeat: no-repeat
    background-position: center
    min-height: 30vh
    padding: 12% 10%

    h1,h4
        backdrop-filter: blur(1px)
        color: #2E282A
        border-radius: 25px

    a
        background-color: var(--text-navhl)
        color: var(--text-nav)
        border-radius: 5px
        text-decoration: none

        &:active, &:focus, &:hover
            background-color: var(--text-nav)
            color: var(--text-navhl)
            transition: 0.2s linear

#page-content
    background-image: url('../img/bg-cover.svg')
    padding: 2% 0%
    .post
        background-color: var(--bg-post)
        .card-body
            .badge 
                background-color: var(--bg-m)
                color: var(--bg-post)
            p,h2
                color: var(--text-post)
            .text-muted 
                color: var(--sub-post) !important
            .btn
                background-color: var(--bg-m)
                color: var(--bg-post) 
                &:active, &:focus, &:hover
                    background-color: var(--sub-post)
                    transition: 0.5s linear
            
    .cate
        background-color: var(--bg-cate)
        color: var(--text-post)

        .list-group-item 
            border: 1px solid rgba(0,0,0,.125)
            background-color: transparent
            color: var(--text-post)

    .widget
        background-color: var(--bg-side)
        color: var(--text-post)

