---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";
// import Font
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Spectral&display=swap');
$display-font:'Spectral', serif;
$text-font: 'Poiret One', cursive;

// Colors
$bg-color: #212B38;
$link-color: #F4D06F;
$text-color: #F2F4F3;

// Overwritten colors
$site-title-color: #F5F7DC;

// body
body{
  font-family: $display-font;
  background-color: $bg-color;
  color: $text-color;
  a{
    color: $link-color;
  }
}

// h1
h1{
  font-family: $text-font;
}
// h3
.page-content{
  a{
    color: $link-color
  }
}
.feed-subscribe{
    color: $link-color
}
// Post Layout
.post-categories {
  a{
    background-color: $link-color;
    color: #181818;
    border-radius: 5px;
    padding: 2px;
    border-color: $link-color;
  }:hover{
    text-decoration: underline;
  }
}
.post-meta{
  span.reading-time{
    font-style: italic;  
  }
}
a.u-email{
  color: $link-color;
}
