<section>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-slate-900">
        Blog Archive
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        All my posts. Ogranized. In a table. 
      </p>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-8">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-slate-200 ">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Category
              </th>
              <th scope="col" class="px-6 py-3">
                  Date
              </th>
              <th scope="col" class="px-6 py-3">
                Link
            </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of links$ | async" class="bg-white border-b hover:bg-gray-50">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              {{ post.title }}
          </th>
          <td class="px-6 py-4">
            {{ post.category }}
          </td>
          <td class="px-6 py-4">
            {{ post.date }}
          </td>
          <td class="px-6 py-4">
            <a href="{{ post.route }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Read now!</a>
        </td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
  
</section>
