---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

// Post Layout
.post-categories {
  a{
    background-color: #bbbbbb;
    color: #181818;
    border-radius: 5px;
    padding: 5px;
    border-color: #bbbbbb;
  }:hover{
    text-decoration: none;
    background-color: #181818;
    color: #bbbbbb;
  }
}
.post-meta{
  span.reading-time{
    font-style: italic;  
  }
}
